{% load likes_post %}
{% load static %}

{% count_likes post_id as likes_counter %}

<div id="f-post-like">
    <form class="add-remove-like post-like" action="{% url 'likes:ajax' %}" method="POST">{% csrf_token %}

        <input type="hidden" name="post_id" value="{{ post_id }}">
        <input type="hidden" name="user_id"
               value="{% if user.is_authenticated %}{{ request.user.id }}{% else %}None{% endif %}">
        <input type="hidden" name="is_liked" value="{{ is_liked }}">

        <div class="like-btn-wrap" id="d-like">
            <button type="submit" class="btn" id="btn-like">
                <i class="{% if is_liked %} fa fa-heart {% else %} fa fa-heart-o {% endif %}"></i>
                <span name="like_count">{{ likes_counter }} нравится</span>
            </button>
{#<!--            <span name="tags">-->#}
{#<!--            <a>Теги:</a>-->#}
{#<!--            {% for tag in tags %}-->#}
{#<!--                <a class="teg" href="#">{{ tag }}</a>-->#}
{#<!--            {% endfor %}-->#}
{#<!--        </span>-->#}
        </div>
    </form>
</div>
