<!DOCTYPE html>
<html>
<!--========== 404 ==========-->
<head class="body">
    <meta charset="utf-8">
    <title>Код страницы 404</title>
    <!-- PAGE STYLES -->
    <link rel="stylesheet" href="css/404_page.css" type="text/css"/>

</head>
<body>
<div class="figure">
    <div class="error-no"><span>4</span>
        <div class="moon"></div>
        <span>4</span>
    </div>
    <div class="child">
        <a href="index.html">
            <p>вернуться на главную</p>
        </a>
    </div>
</div>
</body>
</html>
<!--========== 404 end ==========-->
