<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Форма авторизации</title>
    <link rel="stylesheet" href="css/sing_in_form.css" type="text/css">
</head>
<body>


<div id="login">
    <form action="javascript:void(0);" method="get">
        <fieldset class="clearfix">
            <p><span class="fontawesome-user"></span><input type="text" value="Логин"></p>
            <p><span class="fontawesome-lock"></span><input type="password" maxlength="25" size="40" name="пароль"
                                                            value="password"></p>
            <p><span class="fontawesome-lock"></span><input type="password" maxlength="25" size="40"
                                                            name="повторить пороль"
                                                            value="password"></p>
            <p><input type="submit" value="ЗАРЕГИСТРИРОВАТЬСЯ"></p>
        </fieldset>
    </form>
    <p><a href="sing_in_form.html">Войти</a><span
            class="child"></span></p>
</div>
<div class="child">
    <a href="index.html">
        <p>вернуться на главную</p>
    </a>
</div>
</body>
</html>