{% extends 'base.html' %}
{% load static %}

{% block content %}

    <!--========== PARALLAX ==========-->
    {% include 'includes/parallax.html' %}
    <!--========== PARALLAX ==========-->

    <!--========== PAGE LAYOUT ==========-->
    <!-- Service -->
    <div class="bg-color-sky-light" data-auto-height="true">
        <div class="content-lg container">
            {% for faq in faqs %}
                <div class="row row-space-1 margin-b-2">
                    <div class="col-sm-6 sm-margin-b-2">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".2s">
                            <div class="service" data-height="height">
                                <h3>{{ faq.title }}</h3>
                                <p class="margin-b-5">{{ faq.description|truncatewords:70|safe }}</p>
                                <a href="#" class="content-wrapper-link"></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".1s">
                            <div class="service" data-height="height">
                                <h3>{{ faq.title2 }}</h3>
                                <p class="margin-b-5">{{ faq.description2|truncatewords:70|safe }}</p>
                                <a href="#" class="content-wrapper-link"></a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <!--// end row -->

            {#            <div class="row row-space-1 margin-b-2">#}
            {#                <div class="col-sm-6 sm-margin-b-2">#}
            {#                    <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">#}
            {#                        <div class="service" data-height="height">#}
            {#                            <h3>Feature Reach</h3>#}
            {#                            <p class="margin-b-5">Lorem ipsum dolor amet consectetur ut consequat siad esqudiat#}
            {#                                dolor</p>#}
            {#                            <a href="#" class="content-wrapper-link"></a>#}
            {#                        </div>#}
            {#                    </div>#}
            {#                </div>#}
            {#                <div class="col-sm-6">#}
            {#                    <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".2s">#}
            {#                        <div class="service" data-height="height">#}
            {#                            <h3>Useful Documentation</h3>#}
            {#                            <p class="margin-b-5">Lorem ipsum dolor amet consectetur ut consequat siad esqudiat#}
            {#                                dolor</p>#}
            {#                            <a href="#" class="content-wrapper-link"></a>#}
            {#                        </div>#}
            {#                    </div>#}
            {#                </div>#}
            {#            </div>#}
            <!--// end row -->

            {#            <div class="row row-space-1">#}
            {#                <div class="col-sm-6 sm-margin-b-2">#}
            {#                    <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".4s">#}
            {#                        <div class="service" data-height="height">#}
            {#                            <h3>Fast Delivery</h3>#}
            {#                            <p class="margin-b-5">Lorem ipsum dolor amet consectetur ut consequat siad esqudiat#}
            {#                                dolor</p>#}
            {#                            <a href="#" class="content-wrapper-link"></a>#}
            {#                        </div>#}
            {#                    </div>#}
            {#                </div>#}
            {#                <div class="col-sm-6">#}
            {#                    <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">#}
            {#                        <div class="service" data-height="height">#}
            {#                            <h3>Free Plugins</h3>#}
            {#                            <p class="margin-b-5">Lorem ipsum dolor amet consectetur ut consequat siad esqudiat#}
            {#                                dolor</p>#}
            {#                            <a href="#" class="content-wrapper-link"></a>#}
            {#                        </div>#}
            {#                    </div>#}
            {#                </div>#}
            {#            </div>#}
            <!--// end row -->
        </div>
    </div>
    <!-- End Service -->

    <!-- General Questions -->
    <div class="content-lg container">
        <div class="row margin-b-20">
            <div class="col-sm-6">
                <h2>Основные правила</h2>
            </div>
        </div>
        <!--// end row -->

        <div class="row">
            <div class="col-sm-7 sm-margin-b-50">
                <div class="margin-b-30">
                    <p>Это не документ, которого нужно строго придерживаться. Это вообще не документ. Это правила,
                        которые соблюдают некоторые авторы на ресурсе.</p>
                </div>
                <div class="margin-b-30">
                <p>
                    - Я создаю авторские материалы и не перепечатываю с других сайтов.<br>
                    - Публикуя материалы других авторов, я всегда привожу ссылки на источники.<br>
                    - Я не создаю глупых комментариев типа «+1», «ф топку», «афтар жжот».<br>
                    - Я не матерюсь и не оскорбляю других на страницах BlackPearl.<br>
                    - Я стараюсь, чтобы в моих текстах не было ошибок.<br>
                    - Я уважаю администрацию и пользователей ресурса, не унижаю и не оскорбляю их — я здесь не для этого.<br>
                    - В споре я стараюсь не раздувать конфликт, а решить проблему в личной переписке.<br>
                    - Если мне не удалось разрешить конфликт, я не призываю других к активному противодействию.<br>
                    - Я лично решаю: публиковать контент на BlackPearl или нет, и не требую за это денег.<br>
                    - Если нужно, я помогаю новичкам.<br>
                    - Я пользуюсь поиском, чтобы уточнить, нет ли уже на сайте похожего материала. Если так вышло, я
                    дополню его в комментариях.<br>
                    - Каждым своим действием на ресурсе я стремлюсь добавить порядка, а не внести хаоса.<br>
                    - Своими действиями я не хочу разрушить или дискредитировать сообщество.<br>
                    - Я не клянчу карму и отношусь к изменениям рейтинга спокойно.<br>
                    - Я стараюсь учесть конструктивную критику и пожелания.<br>
                    - Я на позитиве. Из самой сложной ситуации всегда есть выход.<br>
                    - Я понимаю, что BlackPearl — это сообщество людей с разными интересами. Если какая-то тема мне не
                    интересна, я не мешаю другим ее обсуждать.<br></p>
                    </div>
            </div>
            <div class="col-sm-4 col-sm-offset-1">
                <img class="img-responsive" src="{% static 'img/640x380/01.jpg' %}" alt="Our Office">
            </div>
        </div>
        <!--// end row -->
    </div>
    <!-- End General Questions -->

    <!-- Pricing -->
    {#    <div class="bg-color-sky-light">#}
    {#        <div class="content-lg container">#}
    {#            <div class="row row-space-1">#}
    {#                <div class="col-sm-4 sm-margin-b-2">#}
    {#                    <div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".1s">#}
    {#                        <!-- Pricing -->#}
    {#                        <div class="pricing">#}
    {#                            <div class="margin-b-30">#}
    {#                                <i class="pricing-icon icon-chemistry"></i>#}
    {#                                <h3>Starter Kit <span> - $</span> 49</h3>#}
    {#                                <p>Lorem ipsum dolor amet consectetur ut consequat siad esqudiat dolor</p>#}
    {#                            </div>#}
    {#                            <ul class="list-unstyled pricing-list margin-b-50">#}
    {#                                <li class="pricing-list-item">Basic Features</li>#}
    {#                                <li class="pricing-list-item">Up to 5 products</li>#}
    {#                                <li class="pricing-list-item">50 Users Panels</li>#}
    {#                            </ul>#}
    {#                            <a href="pricing.html"#}
    {#                               class="btn-theme btn-theme-sm btn-default-bg text-uppercase">Choose</a>#}
    {#                        </div>#}
    {#                        <!-- End Pricing -->#}
    {#                    </div>#}
    {#                </div>#}
    {#                <div class="col-sm-4 sm-margin-b-2">#}
    {#                    <div class="wow fadeInUp" data-wow-duration=".3" data-wow-delay=".2s">#}
    {#                        <!-- Pricing -->#}
    {#                        <div class="pricing pricing-active">#}
    {#                            <div class="margin-b-30">#}
    {#                                <i class="pricing-icon icon-badge"></i>#}
    {#                                <h3>Professional <span> - $</span> 149</h3>#}
    {#                                <p>Lorem ipsum dolor amet consectetur ut consequat siad esqudiat dolor</p>#}
    {#                            </div>#}
    {#                            <ul class="list-unstyled pricing-list margin-b-50">#}
    {#                                <li class="pricing-list-item">Basic Features</li>#}
    {#                                <li class="pricing-list-item">Up to 100 products</li>#}
    {#                                <li class="pricing-list-item">100 Users Panels</li>#}
    {#                            </ul>#}
    {#                            <a href="pricing.html"#}
    {#                               class="btn-theme btn-theme-sm btn-default-bg text-uppercase">Choose</a>#}
    {#                        </div>#}
    {#                        <!-- End Pricing -->#}
    {#                    </div>#}
    {#                </div>#}
    {#                <div class="col-sm-4">#}
    {#                    <div class="wow fadeInRight" data-wow-duration=".3" data-wow-delay=".1s">#}
    {#                        <!-- Pricing -->#}
    {#                        <div class="pricing">#}
    {#                            <div class="margin-b-30">#}
    {#                                <i class="pricing-icon icon-shield"></i>#}
    {#                                <h3>Advanced <span> - $</span> 249</h3>#}
    {#                                <p>Lorem ipsum dolor amet consectetur ut consequat siad esqudiat dolor</p>#}
    {#                            </div>#}
    {#                            <ul class="list-unstyled pricing-list margin-b-50">#}
    {#                                <li class="pricing-list-item">Extended Features</li>#}
    {#                                <li class="pricing-list-item">Unlimited products</li>#}
    {#                                <li class="pricing-list-item">Unlimited Users Panels</li>#}
    {#                            </ul>#}
    {#                            <a href="pricing.html"#}
    {#                               class="btn-theme btn-theme-sm btn-default-bg text-uppercase">Choose</a>#}
    {#                        </div>#}
    {#                        <!-- End Pricing -->#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#            <!--// end row -->#}
    {#        </div>#}
    {#    </div>#}
    <!-- End Pricing -->
    <!--========== END PAGE LAYOUT ==========-->
{% endblock %}

{% block js %}
    <script src="{% static 'vendor/jquery.parallax.min.js' %}" type="text/javascript"></script>
{% endblock %}
