{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'css/paginate.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <!--========== PARALLAX ==========-->
    {% include 'includes/parallax.html' %}
    <!--========== PARALLAX ==========-->

    <!--========== PAGE LAYOUT ==========-->
    <div class="content-lg container">
        <div class="row margin-b-50">

            {% for object in page_obj %}
                <div class="row row-space-1 margin-b-2">
                    <div class="col-sm-6 sm-margin-b-2">
                        <div class="wow zoomIn" data-wow-duration=".3" data-wow-delay=".1s">
                            <img class="img-responsive" style="max-width:370px; max-height:400px" src="

                                    {% if object.image %}{{ object.image.url }} {% else %}{% static 'img/970x647/02.jpg' %}{% endif %}"
                                 alt="">
                        </div>
                    </div>
                    <h3><a href="{% url 'posts:full-post' object.slug %}">{{ object.header }}</a>
                        <span class="text-uppercase margin-l-20">{{ object.id_category.name }}</span>
                    </h3>
                    {{ object.body|striptags|truncatewords:60 }}
                    {#                    <a class="link" href="{% url 'posts:full-post' object.slug %}">Читать далее</a>#}
                </div>
            {% endfor %}
        </div>
        {% include 'includes/paginator.html' %}
    </div>

    <!-- Clients -->
    {#    {% include 'includes/clients.html' %}#}

    <!-- End Clients -->
{% endblock %}

{% block js %}
    <script src="{% static 'vendor/jquery.parallax.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'vendor/swiper/js/swiper.jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/components/swiper.min.js' %}" type="text/javascript"></script>
{% endblock %}

