{% extends 'base.html' %}
{% load static %}

{% block content %}
{#    {% if messages %}#}
{#        {% for message in messages %}#}
{#            <div class="alert {{ message.tags }} m-2" id="msg" role="alert">#}
{#                {{ message }}#}
{#            </div>#}
{#        {% endfor %}#}
{#    {% endif %}#}

    <div class="parallax-window" data-parallax="scroll" data-image-src="{% static 'img/1920x1080/01.jpg' %}">
        <div class="parallax-content container">
            <div class="card-body">
                <h3 style="color: #fff;">Вход</h3>

                <form role="form" method="post" action="">

                    {% csrf_token %}

                    <div class="input-group mb-3">
                        {{ form.username }}
                    </div>

                    <div class="input-group mb-4">
                        {{ form.password }}
                    </div>

                    <div class="form-group text-left">
                        <div class="checkbox checkbox-fill d-inline">
                            <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked="">
                            <label for="checkbox-fill-a1" class="mb-0 text-muted">Запомнить</label>
                        </div>
                    </div>
                    <button type="submit" name="login" class="btn btn-primary shadow-2 mb-4">Войти</button>

                </form>
            </div>
            <p class="mb-0 text-muted">Нет аккаунта? <a href="{% url 'users:register' %}">Зарегистрироваться</a></p>
            <br/>
        </div>

    </div>

{% endblock %}

{% block js %}
    <script src="{% static 'vendor/jquery.parallax.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'vendor/swiper/js/swiper.jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/components/swiper.min.js' %}" type="text/javascript"></script>
{% endblock %}
