{% extends 'base.html' %}
{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'css/sign_in.css' %}" type="text/css"/>{% endblock %}
{% block content %}

    <div class="parallax-window" data-parallax="scroll" data-image-src="{% static 'img/1920x1080/01.jpg' %}">
        <div class="parallax-content container text-center">
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-user">
                        <div class="circle">
                            <img src="{% static 'img/face.jpg' %}">
                        </div>
                        <h2 class="color-white">Маркус Дой</h2>
                        <h3 class="color-white">РАЗРАБОТЧИК</h3>
                        <div class="text-left">
                            <ul class="list-unstyled">
                                <li><a class="list-link" href="#">Настройки аккаунта</a></li>
                                <li><a class="list-link" href="#">Помощь</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card card-user">
                        <h2 class="text-left color-white">ПРОФИЛЬ</h2>
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link" id="settings-tab" data-toggle="tab" href="#settings"
                                   role="tab" aria-controls="settings" aria-selected="false">Настройки</a>
                                <a class="nav-item nav-link" id="security-tab" data-toggle="tab" href="#security"
                                   role="tab" aria-controls="security" aria-selected="false">Безопасность</a>
                                <a class="nav-item nav-link active" id="profile-tab" data-toggle="tab" href="#profile"
                                   role="tab" aria-controls="profile" aria-selected="true">Профиль</a>
                            </div>
                        </nav>
                        <div class="tab-content" id="tabContent">
                            <div class="tab-pane active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <form role="form" method="post" action="" class="text-left">
{#                                    {% csrf_token %}#}
                                    <div class="form-outline margin-b-10">
{#                                        {{ form.email }}#}
                                        <label class="color-white" for="id_email">Email</label>
                                        <input type="text" name="email" id="id_email"
                                               class="form-control" placeholder="Email">
                                    </div>
                                    <div class="form-outline margin-b-10">
{#                                        {{ form.username }}#}
                                        <label class="color-white" for="id_username">Username</label>
                                        <input type="text" name="username" id="id_username"
                                               class="form-control" placeholder="Username">
                                    </div>
                                    <div class="form-outline margin-b-10">
{#                                        {{ form.first_name }}#}
                                        <label class="color-white" for="id_first_name">First name</label>
                                        <input type="text" name="first_name" id="id_first_name"
                                               class="form-control" placeholder="First name">
                                    </div>
                                    <div class="form-outline margin-b-10">
{#                                        {{ form.last_name }}#}
                                        <label class="color-white" for="id_last_name">Last name</label>
                                        <input type="text" name="last_name" id="id_last_name"
                                               class="form-control" placeholder="Last name">
                                    </div>
                                    <div class="form-outline margin-b-10">
{#                                        {{ form.age }}#}
                                        <label class="color-white" for="id_age">Age</label>
                                        <input type="number" name="age" id="id_age"
                                               class="form-control" placeholder="Age">
                                    </div>
                                    <div class="form-outline margin-b-20">
{#                                        {{ form.about_me }}#}
                                        <label class="color-white" for="id_about_me">About me</label>
                                        <input type="text" name="about_me" id="id_about_me"
                                                class="form-control" placeholder="About me">
                                    </div>
                                    <button type="submit" name="save" class="btn btn-primary btn-block margin-b-10">Изменить</button>
                                </form>
                            </div>
                            <div class="tab-pane" id="security" role="tabpanel" aria-labelledby="security-tab">
                                <h3 class="color-white margin-t-20">Смена пароля</h3>
                                <form role="form" method="post" action="" class="text-left">
{#                                    {% csrf_token %}#}
                                    <div class="form-outline margin-b-10">
{#                                        {{ form.old_password }}#}
                                        <label class="color-white" for="id_password">Текущий пароль</label>
                                        <input type="password" name="old_password" id="id_password"
                                               class="form-control" placeholder="Текущий пароль">
                                    </div>
                                    <div class="form-outline margin-b-10">
{#                                        {{ form.password1 }}#}
                                        <label class="color-white" for="id_password1">Новый пароль</label>
                                        <input type="password" name="id_password1" id="id_password1"
                                               class="form-control" placeholder="Новый пароль">
                                    </div>
                                    <div class="form-outline margin-b-20">
{#                                        {{ form.password2 }}#}
                                        <label class="color-white" for="id_password2">Подтвердите пароль</label>
                                        <input type="password" name="id_password2" id="id_password2"
                                               class="form-control" placeholder="Подтвердите пароль">
                                    </div>
                                    <button type="submit" name="change_pass" class="btn btn-primary btn-block margin-b-10">Сменить пароль</button>
                                </form>
                            </div>
                            <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">
                                ...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="{% static 'vendor/jquery.parallax.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'vendor/swiper/js/swiper.jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/components/swiper.min.js' %}" type="text/javascript"></script>
{% endblock %}