html {
    box-sizing: border-box;
}

body {
    font-family: Hind, sans-serif;
}

div.main {
    text-align: justify;
}

/*clear of floating elements*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.comment_sector {
    width: 100%;
}

.btn {
    color: #17bed2;
}

.comment-section {
    list-style: none;
    max-width: 800px;
    /*width:100%;*/
    padding: 10px;
    font-size: 13px;
}


.comment {
    display: flex;
    border-radius: 3px;
    flex-wrap: wrap;
}

.comment.user-comment {
    color: #81848f;
}

.comment.author-comment {
    color: #81848f;
    justify-content: flex-end;
}


.comment .avatar {
    width: 5%;
}


.comment.author-comment .info {
    /*text-align: right;
	width:17%;*/
    order: 3;
}

.comment .info a {
    display: block;
    text-decoration: none;
    color: #81848f;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px 0 3px 0;
}

.comment .info span {
    font-size: 11px;
    color: #9ca7af;
}

.comment.user-comment .avatar {
    padding: 10px 18px 0 50px;
}

.comment.author-comment .avatar {
    order: 2;
    padding: 10px 50px 0 18px;
}

.comment p {
    line-height: 1.5;
    padding: 18px 22px;
    width: 50%;
    position: relative;
    word-wrap: break-word;
}

.comment.user-comment .avatar img {
    float: right;
}

.comment p {
    line-height: 1.5;
    padding: 18px 22px;
    width: 45%;
    position: relative;
    word-wrap: break-word;
}

.comment.user-comment p {
    background-color: #ededed;
}


.comment.author-comment {
    justify-content: flex-end;
}


.comment.author-comment p {
    background-color: #ededed;
    order: 1;
}

.author-comment p:after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 2px solid #ededed;
    right: -8px;
    top: 18px;
}

.comment.user-comment .avatar img {
    float: right;
}

.comment .avatar img {
    display: block;
    border-radius: 50%;
}

.user-comment p:after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 2px solid #ededed;
    left: -8px;
    top: 18px;
}

.comment.author-comment p {
    order: 1;
}

.teg {
    color: #17bed2
}

.write-new {
    margin: 20px auto 0;
    width: 50%;
}

.write-new textarea {
    color: #444;
    font: inherit;
    outline: 0;
    border-radius: 3px;
    border: 1px solid #cecece;
    background-color: #fefefe;
    box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.06);
    overflow: auto;
    width: 91%;
    max-width: 800px;
    min-height: 80px;
    padding: 15px 20px;
}

.write-new img {
    border-radius: 50%;
    margin-top: 15px;
}

.write-new button {
    float: right;
    background-color: #17bed2;
    box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    border: 0;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 25px;
    margin-top: 18px;
}


@media (max-width: 800px) {
    .comment p {
        width: 100%;
    }


    /* Reverse the order of elements in the user comments,
    so that the avatar and info appear after the text. */
    .comment.user-comment .info {
        order: 3;
        text-align: left;
    }

    .comment.user-comment .avatar {
        order: 2;
    }

    .comment.user-comment p {
        order: 1;
    }


    /* Make the paragraph in the comments take up the whole width,
    forcing the avatar and user info to wrap to the next line*/
    .comment p {
        width: 100%;
    }


    /* Align toward the beginning of the container (to the left)
    all the elements inside the author comments. */
    .comment.author-comment {
        justify-content: flex-start;
    }


    .comment .info {
        width: auto;
    }

    .comment .info a {
        padding-top: 15px;
    }

    .comment.user-comment .avatar,
    .comment.author-comment .avatar {
        padding: 15px 10px 0 18px;
        width: auto;
    }

    .comment.user-comment p:after,
    .comment.author-comment p:after {
        width: 12px;
        height: 12px;
        top: initial;
        left: 28px;
        bottom: -6px;
    }

    .write-new, .write-new form {
        width: 100%;
    }
}

