@charset "utf-8";

/* ---------- FONTAWESOME ---------- */

[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}

.card-user {
    border: solid 2px rgba(255, 255, 255, 0.13);
    border-radius: 5px;
    padding: 20px 10px;
    background-color: #303337;
}

.form-outline {
    border: 1px solid transparent;
    border-radius: 8px;
}

.column-lk {
    border: solid 2px rgba(255, 255, 255, 0.63);
    padding: 20px;
}

.text-left {
    text-align: left;
    margin: 20px;
}

.circle {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  width: 150px;
  height: 150px;
}

.circle img {
  width:100%;
  height:100%;
  object-fit: cover;
}

.list-link, .nav-link {
    color: #cbd3e1;
}

.nav-link {
    background-color: transparent;
    border: solid 1px rgba(203, 211, 225, 0.2);
}

.nav-tabs>a {
    float: right;
    padding: 2px 5px;
}

.margin-t-20 {
    margin-top: 20px;
}

/* ---------- GENERAL ---------- */
/*.modal{*/
/*  padding: 50px;*/
/*  background: #ccc;*/
/*  position: fixed; top: 50%; left: 50%;*/
/*  -webkit-transform: translate(-50%, -50%);*/
/*  -ms-transform: translate(-50%, -50%);*/
/*  transform: translate(-50%, -50%);*/
/*}*/

/*body {*/
/*    background-image: url("../img/1920x1080/01.jpg");*/
/*    color: #a6a7aa;*/
/*    font-family: 'Open Sans', Arial, sans-serif;*/
/*    font-size: 14px;*/
/*    line-height: 1.5em;*/
/*}*/

/*a {*/
/*    color: #eee;*/
/*    text-decoration: none;*/
/*}*/

/*a:hover {*/
/*    text-decoration: underline;*/
/*}*/

/*input {*/
/*    border: none;*/
/*    font-family: 'Open Sans', Arial, sans-serif;*/
/*    font-size: 14px;*/
/*    line-height: 1.5em;*/
/*    padding: 0;*/
/*    -webkit-appearance: none;*/
/*}*/

/*p {*/
/*    line-height: 1.5em;*/
/*}*/

/*.clearfix {*/
/*    *zoom: 1;*/
/*}*/

/*!* For IE 6/7 *!*/
/*.clearfix:before, .clearfix:after {*/
/*    display: table;*/
/*    content: "";*/
/*}*/

/*.clearfix:after {*/
/*    clear: both;*/
/*}*/

/*!* ---------- LOGIN ---------- *!*/

/*#login {*/
/*    margin: 150px auto;*/
/*    width: 280px;*/
/*}*/

/*#login form span {*/
/*    background-color: #a5a5a7;*/
/*    border-radius: 3px 0px 0px 3px;*/
/*    -moz-border-radius: 3px 0px 0px 3px;*/
/*    -webkit-border-radius: 3px 0px 0px 3px;*/
/*    color: #07080e;*/
/*    display: block;*/
/*    float: left;*/
/*    height: 50px;*/
/*    line-height: 50px;*/
/*    text-align: center;*/
/*    width: 50px;*/
/*}*/

/*#login form input {*/
/*    height: 50px;*/
/*    outline: none;*/
/*}*/

/*#login form input[type="text"], input[type="password"] {*/
/*    background-color: #bbbcbd;*/
/*    border-radius: 0px 3px 3px 0px;*/
/*    -moz-border-radius: 0px 3px 3px 0px;*/
/*    -webkit-border-radius: 0px 3px 3px 0px;*/
/*    color: #606468;*/
/*    margin-bottom: 1em;*/
/*    padding: 0 16px;*/
/*    width: 198px;*/
/*}*/

/*#login form input:focus {*/
/*    color: #fff;*/
/*}*/

/*#login form input[type="submit"] {*/
/*    border-radius: 3px;*/
/*    -moz-border-radius: 3px;*/
/*    -webkit-border-radius: 3px;*/
/*    background-color: #a5a5a7;*/
/*    color: #eee;*/
/*    font-weight: bold;*/
/*    margin-bottom: 2em;*/
/*    text-transform: uppercase;*/
/*    cursor: pointer;*/
/*    width: 280px;*/
/*}*/

/*#login form input[type="submit"]:hover {*/
/*    background-color: #23242c;*/
/*    color: #0f0f0f !* Цвет ссылки при наведении *!*/
/*}*/

/*#login > p {*/
/*    text-align: center;*/
/*}*/

/*#login > p span {*/
/*    padding-left: 5px;*/
/*}*/

/*.child {*/
/*    position: absolute;*/
/*    left: 50%;*/
/*    -webkit-transform: translate(-50%, -50%);*/
/*    -moz-transform: translate(-50%, -50%);*/
/*    -ms-transform: translate(-50%, -50%);*/
/*    -o-transform: translate(-50%, -50%);*/
/*    transform: translate(-50%, -50%);*/
/*}*/


/*@-webkit-keyframes slideOut {*/
/*    0% {*/
/*        top: -30px;*/
/*        opacity: 0;*/
/*    }*/
/*    100% {*/
/*        top: 0px;*/
/*        opacity: 1;*/
/*    }*/
/*}*/
